<?xml  version="1.0" encoding="UTF-8"?>

<plugin  xmlns="http://apache.org/cordova/ns/plugins/1.0" id="org.apache.cordova.echo" version="0.0.1">

<name>Echo</name>

<description>Echo  Plugin</description>

<license>Apache 2.0</license>

<keywords>cordova,echo</keywords>

<js-module src="www/echo.js"  name="echo">

<clobbers target="echo"  />

</js-module>

<!--android-->

<platform name="android">
    <source-file  src="src/android/Echo.java"  target-dir="src/org/apache/cordova/echo" />
    <config-file  target="res/xml/config.xml" parent="/*">

    <feature  name="Echo">

    <param  name="android-package"  value="org.apache.cordova.echo.Echo"/>

    </feature>

    </config-file>
    <config-file  target="AndroidManifest.xml" parent="/*">
    <config-file target="src/android/libs/Rong_IMKit.jar" tar-dir="libs" />
    <uses-permission  android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    </config-file>
</platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Echo">
                <param name="ios-package" value="org.apache.cordova.echo.Echo"/>
            </feature>
        </config-file>
        <header-file src="src/ios/Echo.h" />
        <source-file src="src/ios/Echo.m" />
    </platform>
</plugin>